
/src
/CYFS
/cyfs-ts-sdk
/cyfs-browser-webpage
/nft
/nft_web
PATCH_VERSION

*commit_id.txt

cyfs-runtime

.vscode/
.DS_Store

*.dmg
*.pkg
*.tar.gz
*.zip
*.7z
*.app
*.pyc
*.patchinfo

.cipd
.gclient
.gclient_entries


/out/mac/ARM/package/build
/out/mac/X86/package/build

/out/win/X86/runtime/www
/out/win/X86/runtime/tools
/out/win/X86/runtime/*exe
/out/win/X86/CYFS_Browser*

/build_log/
