
/src
/CYFS
/cyfs-ts-sdk
/cyfs-browser-webpage
/nft
/nft_web
PATCH_VERSION

*commit_id.txt

cyfs-runtime

.vscode/
.DS_Store

*.dmg
*.pkg
*.tar.gz
*.zip
*.7z
*.exe
*.app
*.pyc
*.patchinfo

/dmg/ARM/www
/dmg/X86/www
/dmg/ARM/tools
/dmg/X86/tools

/dmg/ARM/www/package/build/
/dmg/X86/www/package/build/

/dmg/ARM/runtime
/dmg/X86/runtime


.cipd
.gclient
.gclient_entries

/browser_install/CYFS_Browser/
/browser_install/cyfs-runtime-pack/www/
/browser_install/cyfs-runtime-pack/tools
/browser_install/cyfs-runtime-pack/*.exe